body {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* min-height: 100vh;  */
    /* background-image: url('img/5_background/cactus-9085905_1280.jpg'); */
    background-position: center;
    background-size: cover;
}

canvas {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}


#start-screen {
    text-align: center;
    margin-top: 100px;
}

#start-screen button {
    padding: 15px 30px;
    font-size: 24px;
    cursor: pointer;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 10px;
}

#start-screen button:hover {
    background-color: #218838;
}